<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodMap - Bem Vindo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-red-page">
    <div class="landing-container">
        <div class="logo-container logo-reload landing-title">
            <span class="logo-welcome font-decorative">Bem vindo ao!</span>
            <div class="logo-brand font-decorative">
                Fo<span class="pin-icon"></span>dMap
            </div>
        </div>

        <p class="landing-text">
            Nós buscamos para você os restaurantes da zona oeste de Londrina e juntamos tudo em um só lugar para facilitar a sua busca pelo seu novo restaurante favorito!
        </p>

        <a href="/login" class="btn-landing">Faça seu login!</a>
    </div>

</body>
</html>
