<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodMap - Restaurantes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header class="main-header">
        <div class="logo-container logo-reload">
            <div class="logo-brand font-decorative">
                Fo<span class="pin-icon"></span>dMap
            </div>
        </div>

        <span class="gear-btn" id="gearBtn" role="button" aria-label="Opções do usuário" tabindex="0">
            <img src="/static/gear.png" alt="">
        </span>

        <div class="user-dropdown" id="userDropdown">
            <div class="user-info-name">{{ nome }}</div>
            <div class="user-info-email">{{ email }}</div>
            <div class="dropdown-divider"></div>
            <a href="/sairDaConta" onclick="return confirm('Sair da Conta?')" id="botaoSair" class="logout-btn">Sair da conta</a>
        </div>
    </header>

    <main class="content-container">
        
        <h1>Olá {{ nome }}!</h1>
        <div class="search-bar-container">
            <span class="search-icon" aria-hidden="true"></span>
            <form method="POST">
                <input type="text" name="termo" value="{{ termo }}" class="search-input" placeholder="Pesquise aqui">
            </form>
        </div>

        <div id="restaurants-list-container">
            <h3>Resultados:</h3>
            <ul>
                {% if restaurantes %}
                {% for restaurante in restaurantes %}
                <p>{{ restaurante.NOME }}</p>
                <p>{{ restaurante.CATEGORIA }}</p>
                <p>{{ restaurante.DESCRICAO }}</p>
                <p>{{ restaurante.ENDERECO }}</p>
                <img src="{{ restaurante.IMAGEM }}" alt="Imagem do Restaurante">
                {% endfor %}
                {% else %}
                <p>Nenhum restaurante encontrado.</p>
                {% endif %}
            </ul>
        </div>
    </main>
    <script src="/static/js/script.js"></script>
</body>

</html>
